langchain>=0.1.20
tiktoken
langchain-community>=0.0.38
langchain-openai
langchain-text-splitters
langchain-core>=0.1.52
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
msoffcrypto-tool
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph

##others
tqdm
ipywidgets
jupyter
langchain-classic